body {
    font-family: Arial, sans-serif;
    background-color: #blue;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0